
		body{	
		background-color:#99DDAD;
		}
		h1{
		size:3em;
		text-align:center;
		color:#0F8E2B;
		}
		h2{
		size:2.8em;
		text-align:center;
		color:#1F9F3C;
		}
		h3{
		size:2.5em;
		text-align:center;
		color:#0F8E2B;
		}
		h4{
		size:2.5em;
		text-align:center;
		color:#0F8E2B;
		}
		img{
		width:50%;
		max-height:400px;
		
		}
		#parrafo{
		width:50%;
		height:400px; 
		background-color:white;
		text-align:justify;
		color:#000;
		float:right;
		overflow:scroll;
		}

		#contenido{
		width:90%;
		position:relative;
		}
